<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Spot #<%= @spot.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/spots" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link spot start -->
      <div class="col">
        <% if current_user == @spot.joiner %>
          <a href="/spots/<%= @spot.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit spot
          </a>
        <% end %>
      </div>
      <!-- Edit link spot end -->

      <!-- Delete link spot start -->
      <div class="col">
        <% if current_user == @spot.joiner %>
          <a href="/delete_spot/<%= @spot.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete spot
          </a>
        <% end %>
      </div>
      <!-- Delete link spot end -->
    </div>

    <dl>
      <dt>
        Ride
      </dt>
      <!-- Display ride_id start -->
      <dd>
        <% if @spot.ride.present? %>
          <a href="/rides/<%= @spot.ride_id %>">
            <%= @spot.ride.created_at %>
          </a>
        <% end %>
      </dd>
      <!-- Display ride_id end -->

      <dt>
        Joiner
      </dt>
      <!-- Display joiner_id start -->
      <dd>
        <% if @spot.joiner.present? %>
          <a href="/users/<%= @spot.joiner_id %>">
            <%= @spot.joiner.email %>
          </a>
        <% end %>
      </dd>
      <!-- Display joiner_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@spot.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@spot.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
