<h1>
  Edit ride #<%= @ride.id %>
</h1>

<hr>

<form action="/update_ride/<%= @ride.id %>" method="post">

  <div class="form-group">
    <label for="origin">
      Origin
    </label>

    <input type="text" id="origin" name="origin" class="form-control" value="<%= @ride.origin %>">
  </div>

  <div class="form-group">
    <label for="destination">
      Destination
    </label>

    <input type="text" id="destination" name="destination" class="form-control" value="<%= @ride.destination %>">
  </div>

  <div class="form-group">
    <label for="departs">
      Departs
    </label>

    <input type="text" id="departs" name="departs" class="form-control" value="<%= @ride.departs %>">
  </div>


  <button class="btn btn-block btn-outline-secondary">
    Update ride
  </button>
</form>

<hr>

<a href="/rides">
  Go back
</a>
