<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All rides
    </h1>

    <a href="/rides/new" class="btn btn-block btn-outline-secondary">
      Add a new ride
    </a>
  </div>
</div>

<!-- Ransack Code start -->
<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "ride_templates/rides_search_form" %>
  </div>
</div>
<!-- Ransack Code end -->

<!-- Location Map Code start -->
<div class="row mb-3">
  <div class="col-md-12">
    <%= render partial: "ride_templates/all_photos_map" %>
  </div>
</div>
<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Origin
        </th>

        <th>
          Destination
        </th>

        <th>
          Departs
        </th>

        <th>
          Ride leader
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @rides.each do |ride| %>
      <tr>
        <!-- Display ride.id start -->
        <td>
          <%= ride.id %>
        </td>
        <!-- Display ride.id end -->

        <!-- Display ride.origin start -->
        <td>
          <%= ride.origin %>
        </td>
        <!-- Display ride.origin end -->

        <!-- Display ride.destination start -->
        <td>
          <%= ride.destination %>
        </td>
        <!-- Display ride.destination end -->

        <!-- Display ride.departs start -->
        <td>
          <%= ride.departs %>
        </td>
        <!-- Display ride.departs end -->

        <!-- Display ride.ride_leader start -->
        <td>
          <% if ride.leader.present? %>
            <a href="/users/<%= ride.leader.id %>">
              <%= ride.leader.email %>
            </a>
          <% end %>
        </td>
        <!-- Display ride.ride_leader end -->

        <!-- Display ride.created_at start -->
        <td>
          <%= time_ago_in_words(ride.created_at) %> ago
        </td>
        <!-- Display ride.created_at end -->

        <!-- Display ride.updated_at start -->
        <td>
          <%= time_ago_in_words(ride.updated_at) %> ago
        </td>
        <!-- Display ride.updated_at end -->

        <td>
          <a href="/rides/<%= ride.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @rides, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
