<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Ride #<%= @ride.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/rides" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @ride.leader %>
          <a href="/rides/<%= @ride.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit ride
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @ride.leader %>
          <a href="/delete_ride/<%= @ride.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete ride
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Origin
      </dt>
      <dd>
        <div>
          <%= render partial: "ride_templates/one_photo_map" %>
        </div>
      </dd>

      <dt>
        Destination
      </dt>
      <dd>
        <div>
          <%= render partial: "ride_templates/one_photo_map" %>
        </div>
      </dd>

      <dt>
        Departs
      </dt>
      <dd>
        <%= @ride.departs %>
      </dd>

      <dt>
        Ride leader
      </dt>
      <dd>
        <% if @ride.leader.present? %>
          <a href="/users/<%= @ride.ride_leader %>">
            <%= @ride.leader.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@ride.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@ride.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "ride_templates/ride_spots" %>
  </div>
</div>
